# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Logs
*.log

# Distribution / packaging
dist/
build/
eggs/
# Data and Models
data/
# models/  <- keeping models as they are small (9MB)
